<a href="https://colab.research.google.com/github/adnaan619/Movie-Recommender-with-KNN-Algorithm/blob/main/Recommendation_System_using_K_Nearest_Neighbour_Algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
from fuzzywuzzy import process

/usr/local/lib/python3.7/dist-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [18]:
movies='movies.csv'
ratings='ratings.csv'

df_movies=pd.read_csv(movies, usecols=['movieId', 'title'], dtype={'movieId':'int32', 'title':'str'})
df_ratings=pd.read_csv(ratings, usecols=['userId', 'movieId', 'rating'], dtype={'userId': 'int32', 'rating': 'float32'})

In [22]:
#Spare Matrix - puts the moivies and the users
#       [4,4,5] A
#Movies [3,3,4] B == Cos(A,B) => 0.95
#       [3,2,1] C

movie_users=df_ratings.pivot(index='movieId', columns='userId', values='rating').fillna(0)
mat_movies_users= csr_matrix(movies_users.values)

NameError: ignored

In [10]:
df_movies.describe()

             movieId
count    9742.000000
mean    42200.353623
std     52160.494854
min         1.000000
25%      3248.250000
50%      7300.000000
75%     76232.000000
max    193609.000000

In [20]:
# Euclidean Distance
#Manhattan Distance
#Minkowski Distance
#Cosine Similarity
model_knn=NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20)

In [ ]:
model_knn.fit(mat_movies_users)

In [28]:
#Recommender function (movie_name) => List of movies recommended

def recommender(movie_name, data, model, n_recommendations):
  model.fit(data)
  idx=process.extractOne(movie_name, df_movies['title'])
  print('Movie Selected: 'df_movies['title'][idx], 'Index: ' , idx)
  print("Searching Movie Recommendation......")
  distances, indices=model.kneighbors(data[idx], n_neighbors=n_recommendations)
  for i in indices:
    print(df_movies['title'][i].where(i!=idx))

recommender('toy story', mat_movies_users, model_knn,20)

SyntaxError: ignored